body{
    margin: 0px 0px;
    padding: 0px 0px;
    height: 100vh;
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    align-items: center;
}
/*div{*/
/*     margin: 10px;*/
/*     border: 1px solid black;*/
/*     font-size: 20px;*/
/*     height: 80px;*/
/* }*/
#header{
    margin: 0px 0px;
    padding: 4px 4px;
    height: 208px;
    background-color: #02410a; /* #425b44 - серый */
}
#sidebar{
    background-color: #ddd;
    float: left;
    width: 20%;
}
#main{
    background-color: #eee;
    height: 500px;
    margin-left: 22%; /* 20% (ширина сайдбара) + 2% на отступ */
}
#footer{
    background-color: #425b44 ;
}
.head_name{ /*div  с названием страницы*/
    position: relative;
    bottom: 160px;
    left: 300px;

}
